<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>
.banner-text{
position:absolute;
top:0;

}
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4f163060e5.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="banner-card">
        <img src="{% static 'bookapp/images/cover.jpg' %}" width="100%">
        <div class="banner-text">
        <a href="http://127.0.0.1:8000/" class="btn"><i class="fa-sharp fa-solid fa-arrow-left fa-2x text-light"></i></a>
        </div>
    </div>
    <br><br>
    <center>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 15rem">
                <img src="{% static 'bookapp/images/book30.jpg' %}" height="300px" width="300px" class="card-img-top p-4" alt="...">
                <div class="card-body">
                  <h6 class="card-title">You can</h6>

                </div>
              </div>
        </div>
        <!-- second -->
      <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 15rem">
                <img src="{% static 'bookapp/images/book31.jpg' %}" height="300px" width="300px"  class="card-img-top p-4" alt="...">
                <div class="card-body">
                  <h6 class="card-title">The 5 AM Club</h6>

                </div>
              </div>
        </div>
        <!-- third -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 15rem">
                <img src="{% static 'bookapp/images/book32.jpg' %}" height="300px" width="300px"  class="card-img-top p-4" alt="...">
                <div class="card-body">
                  <h6 class="card-title">MEET THE REAL YOU</h6>

                 </div>
              </div>
        </div>
       <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 15rem">
                <img src="{% static 'bookapp/images/book33.jpg' %}" height="300px" width="300px"  class="card-img-top p-4" alt="...">
                <div class="card-body">
                  <h6 class="card-title">The Psychology of Money</h6>

                </div>
              </div>
        </div>
      </div>
      <br><br>
      <center>
      <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-12">
            <img src="{% static 'bookapp/images/OIP (8).jpeg' %}" height="300px" width="300px">
        </div>
        <div class="col-lg-4 col-md-8 col-sm-12">
            <img src="{% static 'bookapp/images/OIP (10).jpeg' %}" height="300px" width="300px">
        </div>
        <div class="col-lg-4 col-md-8 col-sm-12">
            <img src="{% static 'bookapp/images/OIP (9).jpeg' %}" height="300px" width="300px">
        </div>
      </div>
    </center>
    <br><br>
    <div id="o" class="row">
{% for i,j,k,l,m in mylist %}
<div class="col-lg-3 col-md-6 col-sm-12">
<div class="card m-4" style="width: 15rem;">
  <img src="{% static k %}" height="200px" width="200px" class="card-img-top p-2" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{j}}</h5>
      <p class="card-text">{{i}}</p>
      <a href="{% static l %}" class="btn" style="background-color:orange;color:white">Read</a>
  </div>
</div>
</div>
{% endfor %}
</div>
      <div class="row">
        <!-- first card -->
       <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 15rem">
                <img src="{% static 'bookapp/images/book34.jpg' %}" height="300px" width="300px" class="card-img-top p-4" alt="...">
                <div class="card-body">
                  <h6 class="card-title">Who Will Cry When You Die</h6>
<br>
                </div>
              </div>
        </div>
        <!-- second -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 15rem">
                <img src="{% static 'bookapp/images/book35.jpg' %}" height="300px" width="300px"  class="card-img-top p-4" alt="...">
                <div class="card-body">
                  <h6 class="card-title">No Matter What . . . I will always love you</h6>
   </div>
              </div>
        </div>
        <!-- third -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 15rem">
                <img src="{% static 'bookapp/images/book36.jpg' %}" height="300px" width="300px"  class="card-img-top p-4" alt="...">
                <div class="card-body">
                  <h6 class="card-title">Until Love Sets Us Apart: To Love with Love</h6>

                 </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 15rem">
                <img src="{% static 'bookapp/images/book37.jpg' %}" height="300px" width="300px"  class="card-img-top p-4" alt="...">
                <div class="card-body">
                  <h6 class="card-title">Everything I Never Told You</h6>
<br>
                </div>
              </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <!-- first card -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 15rem">
                <img src="{% static 'bookapp/images/book38.jpg' %}" height="300px" width="300px" class="card-img-top p-4" alt="...">
                <div class="card-body">
                  <h6 class="card-title">One Day, Life Will Change</h6>
<br>
                </div>
              </div>
        </div>
        <!-- second -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 15rem">
                <img src="{% static 'bookapp/images/book39.jpg' %}" height="300px" width="300px"  class="card-img-top p-4" alt="...">
                <div class="card-body">
                  <h6 class="card-title">You Are Still the One</h6>
<br>
                </div>
              </div>
        </div>
        <!-- third -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 15rem">
                <img src="{% static 'bookapp/images/book40.jpg' %}" height="300px" width="300px"  class="card-img-top p-4" alt="...">
                <div class="card-body">
                  <h6 class="card-title">The Crossfire of Love Paperback</h6>

                 </div>
              </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card" style="width: 15rem">
                <img src="{% static 'bookapp/images/book41.jpg' %}" height="300px" width="300px"  class="card-img-top p-4" alt="...">
                <div class="card-body">
                  <h6 class="card-title">A Love So Special</h6>
<br>
                </div>
              </div>
        </div>
      </div>
</center>
</body>
</html>